@charset "UTF-8";

content{
}

nav a {
	text-decoration: none;
}

nav ul {
	text-align:center;
	margin: 0;
	padding: 0;
}

nav li {
	text-align:center;
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 10px;
}

.top-menu li {
	text-align:center;
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
}

.top-menu li.active {
	background: #CD853F;
	color: #fff;
}

.top-menu a {
	color: #2F4F4F;
}


#heading{
	color: #2F4F4F;
	font: 30px/30px 'Oswald', CONSTANTIA;
}

aside {
	font: 20px/20px 'Oswald', CONSTANTIA;
	float: left;
	width: 250px;
	height:700px;
}

.aside-menu li {
	text-align:left;
	font-weight: 300;
	list-style-type: square;
	border-top:1px solid #CD853F;
}

.aside-menu li:first-child {
	border: none;
}

.aside-menu li.active {
	color: #CD853F;
}

.aside-menu a {
	color: #2F4F4F;
	text-decoration: none;
}

#inputUser{
	top:100px;
	text-align:center;
	font: 20px/20px 'Oswald', CONSTANTIA;
	color: #2F4F4F;

}

#allUsers{

	text-align:center;
	font: 20px/20px 'Oswald', CONSTANTIA;
	color: #2F4F4F;
	margin-left: 300px;
}

#profile{
	text-align:center;
	font: 20px/20px 'Oswald', CONSTANTIA;
	color: #2F4F4F;
}

table{
	background: #fcf5e8;
	border-collapse: separate;
	border-spacing: 10px;
	border: 2px solid  #2F4F4F;
}

th {
	background: #fcf5e8;
	padding: 10px;
}

td {
	padding: 5px 7px;
	background: #fcf5e8;
}

